OpenBookInterface/OpenBookSystemMVC/Service References/OBISReference/OpenBookAPIService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OpenBookAPIServiceLibrary.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OpenBookAPIServiceLibrary.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?xsd=xsd3" namespace="http://OpenBookAPI/Entities/" />
  <xs:import schemaLocation="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/OpenBookAPIServiceLibrary" />
  <xs:import schemaLocation="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SimplifyCarerDocumentResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://OpenBookAPI/Entities/" base="q1:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="SimplifiedDocument" nillable="true" type="q1:Document" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SimplifyCarerDocumentResponse" nillable="true" type="tns:SimplifyCarerDocumentResponse" />
  <xs:complexType name="GetTransformedSentenceDataResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://OpenBookAPI/Entities/" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OpenBookAPIServiceLibrary" minOccurs="0" name="SentenceData" nillable="true" type="q3:DocumentSentence" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetTransformedSentenceDataResponse" nillable="true" type="tns:GetTransformedSentenceDataResponse" />
  <xs:complexType name="GetWordSynonymsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://OpenBookAPI/Entities/" base="q4:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OpenBookAPIServiceLibrary" minOccurs="0" name="Synonyms" nillable="true" type="q5:ArrayOfWordSynonym" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetWordSynonymsResponse" nillable="true" type="tns:GetWordSynonymsResponse" />
  <xs:complexType name="GetCarerWordPicturesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://OpenBookAPI/Entities/" base="q6:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="URLs" nillable="true" type="q7:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCarerWordPicturesResponse" nillable="true" type="tns:GetCarerWordPicturesResponse" />
  <xs:complexType name="GetCarerWordDefinitionsResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://OpenBookAPI/Entities/" base="q8:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Definitions" nillable="true" type="q9:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCarerWordDefinitionsResponse" nillable="true" type="tns:GetCarerWordDefinitionsResponse" />
  <xs:complexType name="SaveCarerEditedDocumentResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://OpenBookAPI/Entities/" base="q10:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DocumentId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveCarerEditedDocumentResponse" nillable="true" type="tns:SaveCarerEditedDocumentResponse" />
  <xs:complexType name="SubmitAcceptedSentenceResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://OpenBookAPI/Entities/" base="q11:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Sentence" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubmitAcceptedSentenceResponse" nillable="true" type="tns:SubmitAcceptedSentenceResponse" />
  <xs:complexType name="GetAnaphoraResolutionResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://OpenBookAPI/Entities/" base="q12:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/OpenBookAPIServiceLibrary" minOccurs="0" name="Anaphoras" nillable="true" type="q13:ArrayOfWordAnaphora" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAnaphoraResolutionResponse" nillable="true" type="tns:GetAnaphoraResolutionResponse" />
</xs:schema>