OpenBookInterface/OpenBookSystemMVC/Service References/OBISReference/OpenBookAPIService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://OpenBookAPI/Enums/" elementFormDefault="qualified" targetNamespace="http://OpenBookAPI/Enums/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="OriginalDocumentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="odtFile" />
      <xs:enumeration value="odtString" />
      <xs:enumeration value="odtUrl" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OriginalDocumentType" nillable="true" type="tns:OriginalDocumentType" />
  <xs:simpleType name="ActionResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="AccessDenied" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ActionResult" nillable="true" type="tns:ActionResult" />
  <xs:simpleType name="Gender">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Male">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Female">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:simpleType name="LanguagePreferenceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Boolean" />
      <xs:enumeration value="Enumerated" />
      <xs:enumeration value="Number" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LanguagePreferenceType" nillable="true" type="tns:LanguagePreferenceType" />
  <xs:simpleType name="LineSpacingDefaults">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Small">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Medium">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Large">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LineSpacingDefaults" nillable="true" type="tns:LineSpacingDefaults" />
  <xs:complexType name="ArrayOfDocumentSimplificationTools">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentSimplificationTools" type="tns:DocumentSimplificationTools" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentSimplificationTools" nillable="true" type="tns:ArrayOfDocumentSimplificationTools" />
  <xs:simpleType name="DocumentSimplificationTools">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ExplainWordWithPicture" />
      <xs:enumeration value="ExplainWord" />
      <xs:enumeration value="Notes" />
      <xs:enumeration value="Highlight" />
      <xs:enumeration value="MagnifyingGlass" />
      <xs:enumeration value="Themes" />
      <xs:enumeration value="FontSize" />
      <xs:enumeration value="AskCarer" />
      <xs:enumeration value="Underline" />
      <xs:enumeration value="Bold" />
      <xs:enumeration value="Summary" />
      <xs:enumeration value="ShowMultiwords" />
      <xs:enumeration value="ShowObstacles" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DocumentSimplificationTools" nillable="true" type="tns:DocumentSimplificationTools" />
  <xs:simpleType name="UserInterfaceLanguage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="English" />
      <xs:enumeration value="Spanish" />
      <xs:enumeration value="Bulgarian" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserInterfaceLanguage" nillable="true" type="tns:UserInterfaceLanguage" />
  <xs:simpleType name="AccountRoles">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Administrator">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Carer">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="User">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="AccountRoles" nillable="true" type="tns:AccountRoles" />
</xs:schema>