OpenBookSystemMVC/Service References/OBISReference/OpenBookAPIService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://OpenBookAPI/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OpenBookAPIService" targetNamespace="http://OpenBookAPI/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://OpenBookAPI/Imports">
      <xsd:import schemaLocation="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?xsd=xsd0" namespace="http://OpenBookAPI/" />
      <xsd:import schemaLocation="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OpenBookAPIServiceLibrary.Requests" />
      <xsd:import schemaLocation="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?xsd=xsd3" namespace="http://OpenBookAPI/Entities/" />
      <xsd:import schemaLocation="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?xsd=xsd4" namespace="http://OpenBookAPI/Enums/" />
      <xsd:import schemaLocation="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/OpenBookAPIServiceLibrary.Responses" />
      <xsd:import schemaLocation="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/OpenBookAPIServiceLibrary" />
      <xsd:import schemaLocation="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOpenBookAPIService_SimplifyCarerDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SimplifyCarerDocument" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SimplifyCarerDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimplifyCarerDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetTransformedSentenceData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransformedSentenceData" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetTransformedSentenceData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransformedSentenceDataResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetWordSynonyms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWordSynonyms" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetWordSynonyms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordSynonymsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetCarerWordPictures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarerWordPictures" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetCarerWordPictures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarerWordPicturesResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetCarerWordDefinitions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarerWordDefinitions" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetCarerWordDefinitions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarerWordDefinitionsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SaveCarerEditedDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCarerEditedDocument" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SaveCarerEditedDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCarerEditedDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SubmitAcceptedSentence_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAcceptedSentence" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SubmitAcceptedSentence_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitAcceptedSentenceResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetAnaphoraResolution_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnaphoraResolution" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetAnaphoraResolution_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnaphoraResolutionResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetDocumentSummary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentSummary" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetDocumentSummary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentSummaryResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetObstacleInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObstacleInfo" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetObstacleInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObstacleInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetDocumentTest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentTest" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetDocumentTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentTestResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SubmitTestAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitTestAnswer" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SubmitTestAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitTestAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetUserNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNotifications" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetUserNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_MarkNotificationAsRead_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkNotificationAsRead" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_MarkNotificationAsRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkNotificationAsReadResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetUnreadNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnreadNotifications" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetUnreadNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnreadNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SendNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:SendNotification" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SendNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_DeleteNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNotification" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_DeleteNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_CreateTheme_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTheme" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_CreateTheme_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateThemeResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_LoadUserThemes_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadUserThemes" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_LoadUserThemes_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadUserThemesResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_LoadDefaultThemes_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadDefaultThemes" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_LoadDefaultThemes_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDefaultThemesResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_RegisterAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAccount" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_RegisterAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_CreateUserAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserAccount" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_CreateUserAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_ValidateVerificationTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateVerificationTicket" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_ValidateVerificationTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateVerificationTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_UpdateAccountProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountProfile" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_UpdateAccountProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_DeleteUserAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserAccount" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_DeleteUserAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetAccountInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountInfo" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetAccountInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetCarersUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarersUsers" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetCarersUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarersUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetCarerUsersPageList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarerUsersPageList" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetCarerUsersPageList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarerUsersPageListResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetUserImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserImage" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetUserImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserImageResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetDefaultLanguageSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultLanguageSettings" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetDefaultLanguageSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultLanguageSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_RetrievePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePassword" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_RetrievePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrievePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_CreateLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLabel" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_CreateLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLabelResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_DeleteLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLabel" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_DeleteLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLabelResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetAccountLabels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountLabels" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetAccountLabels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountLabelsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SaveDocumentLabels_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentLabels" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SaveDocumentLabels_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentLabelsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_UpdateLabel_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLabel" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_UpdateLabel_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLabelResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetLibraryItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraryItems" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetLibraryItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLibraryItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_ChangeDocumentFavouriteStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDocumentFavouriteStatus" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_ChangeDocumentFavouriteStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDocumentFavouriteStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SimplifyDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SimplifyDocument" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SimplifyDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimplifyDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_ExplainWord_InputMessage">
    <wsdl:part name="parameters" element="tns:ExplainWord" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_ExplainWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExplainWordResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_ExplainWordWithPictures_InputMessage">
    <wsdl:part name="parameters" element="tns:ExplainWordWithPictures" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_ExplainWordWithPictures_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExplainWordWithPicturesResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_DeleteDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocument" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_DeleteDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SaveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocument" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_SaveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocument" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetDocumentDefinitions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentDefinitions" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_GetDocumentDefinitions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentDefinitionsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_MarkDocumentAsRead_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkDocumentAsRead" />
  </wsdl:message>
  <wsdl:message name="IOpenBookAPIService_MarkDocumentAsRead_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkDocumentAsReadResponse" />
  </wsdl:message>
  <wsdl:portType name="IOpenBookAPIService">
    <wsdl:operation name="SimplifyCarerDocument">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SimplifyCarerDocument" message="tns:IOpenBookAPIService_SimplifyCarerDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SimplifyCarerDocumentResponse" message="tns:IOpenBookAPIService_SimplifyCarerDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransformedSentenceData">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetTransformedSentenceData" message="tns:IOpenBookAPIService_GetTransformedSentenceData_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetTransformedSentenceDataResponse" message="tns:IOpenBookAPIService_GetTransformedSentenceData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWordSynonyms">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetWordSynonyms" message="tns:IOpenBookAPIService_GetWordSynonyms_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetWordSynonymsResponse" message="tns:IOpenBookAPIService_GetWordSynonyms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarerWordPictures">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetCarerWordPictures" message="tns:IOpenBookAPIService_GetCarerWordPictures_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetCarerWordPicturesResponse" message="tns:IOpenBookAPIService_GetCarerWordPictures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarerWordDefinitions">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetCarerWordDefinitions" message="tns:IOpenBookAPIService_GetCarerWordDefinitions_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetCarerWordDefinitionsResponse" message="tns:IOpenBookAPIService_GetCarerWordDefinitions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCarerEditedDocument">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SaveCarerEditedDocument" message="tns:IOpenBookAPIService_SaveCarerEditedDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SaveCarerEditedDocumentResponse" message="tns:IOpenBookAPIService_SaveCarerEditedDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitAcceptedSentence">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SubmitAcceptedSentence" message="tns:IOpenBookAPIService_SubmitAcceptedSentence_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SubmitAcceptedSentenceResponse" message="tns:IOpenBookAPIService_SubmitAcceptedSentence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnaphoraResolution">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetAnaphoraResolution" message="tns:IOpenBookAPIService_GetAnaphoraResolution_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetAnaphoraResolutionResponse" message="tns:IOpenBookAPIService_GetAnaphoraResolution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSummary">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetDocumentSummary" message="tns:IOpenBookAPIService_GetDocumentSummary_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetDocumentSummaryResponse" message="tns:IOpenBookAPIService_GetDocumentSummary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObstacleInfo">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetObstacleInfo" message="tns:IOpenBookAPIService_GetObstacleInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetObstacleInfoResponse" message="tns:IOpenBookAPIService_GetObstacleInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentTest">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetDocumentTest" message="tns:IOpenBookAPIService_GetDocumentTest_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetDocumentTestResponse" message="tns:IOpenBookAPIService_GetDocumentTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitTestAnswer">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SubmitTestAnswer" message="tns:IOpenBookAPIService_SubmitTestAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SubmitTestAnswerResponse" message="tns:IOpenBookAPIService_SubmitTestAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserNotifications">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetUserNotifications" message="tns:IOpenBookAPIService_GetUserNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetUserNotificationsResponse" message="tns:IOpenBookAPIService_GetUserNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkNotificationAsRead">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/MarkNotificationAsRead" message="tns:IOpenBookAPIService_MarkNotificationAsRead_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/MarkNotificationAsReadResponse" message="tns:IOpenBookAPIService_MarkNotificationAsRead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnreadNotifications">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetUnreadNotifications" message="tns:IOpenBookAPIService_GetUnreadNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetUnreadNotificationsResponse" message="tns:IOpenBookAPIService_GetUnreadNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendNotification">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SendNotification" message="tns:IOpenBookAPIService_SendNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SendNotificationResponse" message="tns:IOpenBookAPIService_SendNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNotification">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/DeleteNotification" message="tns:IOpenBookAPIService_DeleteNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/DeleteNotificationResponse" message="tns:IOpenBookAPIService_DeleteNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTheme">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/CreateTheme" message="tns:IOpenBookAPIService_CreateTheme_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/CreateThemeResponse" message="tns:IOpenBookAPIService_CreateTheme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadUserThemes">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/LoadUserThemes" message="tns:IOpenBookAPIService_LoadUserThemes_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/LoadUserThemesResponse" message="tns:IOpenBookAPIService_LoadUserThemes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadDefaultThemes">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/LoadDefaultThemes" message="tns:IOpenBookAPIService_LoadDefaultThemes_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/LoadDefaultThemesResponse" message="tns:IOpenBookAPIService_LoadDefaultThemes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/Login" message="tns:IOpenBookAPIService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/LoginResponse" message="tns:IOpenBookAPIService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/Logout" message="tns:IOpenBookAPIService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/LogoutResponse" message="tns:IOpenBookAPIService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterAccount">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/RegisterAccount" message="tns:IOpenBookAPIService_RegisterAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/RegisterAccountResponse" message="tns:IOpenBookAPIService_RegisterAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserAccount">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/CreateUserAccount" message="tns:IOpenBookAPIService_CreateUserAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/CreateUserAccountResponse" message="tns:IOpenBookAPIService_CreateUserAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateVerificationTicket">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/ValidateVerificationTicket" message="tns:IOpenBookAPIService_ValidateVerificationTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/ValidateVerificationTicketResponse" message="tns:IOpenBookAPIService_ValidateVerificationTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountProfile">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/UpdateAccountProfile" message="tns:IOpenBookAPIService_UpdateAccountProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/UpdateAccountProfileResponse" message="tns:IOpenBookAPIService_UpdateAccountProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserAccount">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/DeleteUserAccount" message="tns:IOpenBookAPIService_DeleteUserAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/DeleteUserAccountResponse" message="tns:IOpenBookAPIService_DeleteUserAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetAccountInfo" message="tns:IOpenBookAPIService_GetAccountInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetAccountInfoResponse" message="tns:IOpenBookAPIService_GetAccountInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarersUsers">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetCarersUsers" message="tns:IOpenBookAPIService_GetCarersUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetCarersUsersResponse" message="tns:IOpenBookAPIService_GetCarersUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarerUsersPageList">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetCarerUsersPageList" message="tns:IOpenBookAPIService_GetCarerUsersPageList_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetCarerUsersPageListResponse" message="tns:IOpenBookAPIService_GetCarerUsersPageList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserImage">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetUserImage" message="tns:IOpenBookAPIService_GetUserImage_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetUserImageResponse" message="tns:IOpenBookAPIService_GetUserImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultLanguageSettings">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetDefaultLanguageSettings" message="tns:IOpenBookAPIService_GetDefaultLanguageSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetDefaultLanguageSettingsResponse" message="tns:IOpenBookAPIService_GetDefaultLanguageSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePassword">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/RetrievePassword" message="tns:IOpenBookAPIService_RetrievePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/RetrievePasswordResponse" message="tns:IOpenBookAPIService_RetrievePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLabel">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/CreateLabel" message="tns:IOpenBookAPIService_CreateLabel_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/CreateLabelResponse" message="tns:IOpenBookAPIService_CreateLabel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLabel">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/DeleteLabel" message="tns:IOpenBookAPIService_DeleteLabel_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/DeleteLabelResponse" message="tns:IOpenBookAPIService_DeleteLabel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountLabels">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetAccountLabels" message="tns:IOpenBookAPIService_GetAccountLabels_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetAccountLabelsResponse" message="tns:IOpenBookAPIService_GetAccountLabels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDocumentLabels">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SaveDocumentLabels" message="tns:IOpenBookAPIService_SaveDocumentLabels_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SaveDocumentLabelsResponse" message="tns:IOpenBookAPIService_SaveDocumentLabels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLabel">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/UpdateLabel" message="tns:IOpenBookAPIService_UpdateLabel_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/UpdateLabelResponse" message="tns:IOpenBookAPIService_UpdateLabel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLibraryItems">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetLibraryItems" message="tns:IOpenBookAPIService_GetLibraryItems_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetLibraryItemsResponse" message="tns:IOpenBookAPIService_GetLibraryItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDocumentFavouriteStatus">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/ChangeDocumentFavouriteStatus" message="tns:IOpenBookAPIService_ChangeDocumentFavouriteStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/ChangeDocumentFavouriteStatusResponse" message="tns:IOpenBookAPIService_ChangeDocumentFavouriteStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SimplifyDocument">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SimplifyDocument" message="tns:IOpenBookAPIService_SimplifyDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SimplifyDocumentResponse" message="tns:IOpenBookAPIService_SimplifyDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExplainWord">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/ExplainWord" message="tns:IOpenBookAPIService_ExplainWord_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/ExplainWordResponse" message="tns:IOpenBookAPIService_ExplainWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExplainWordWithPictures">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/ExplainWordWithPictures" message="tns:IOpenBookAPIService_ExplainWordWithPictures_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/ExplainWordWithPicturesResponse" message="tns:IOpenBookAPIService_ExplainWordWithPictures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/DeleteDocument" message="tns:IOpenBookAPIService_DeleteDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/DeleteDocumentResponse" message="tns:IOpenBookAPIService_DeleteDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDocument">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SaveDocument" message="tns:IOpenBookAPIService_SaveDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/SaveDocumentResponse" message="tns:IOpenBookAPIService_SaveDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetDocument" message="tns:IOpenBookAPIService_GetDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetDocumentResponse" message="tns:IOpenBookAPIService_GetDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentDefinitions">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetDocumentDefinitions" message="tns:IOpenBookAPIService_GetDocumentDefinitions_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/GetDocumentDefinitionsResponse" message="tns:IOpenBookAPIService_GetDocumentDefinitions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkDocumentAsRead">
      <wsdl:input wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/MarkDocumentAsRead" message="tns:IOpenBookAPIService_MarkDocumentAsRead_InputMessage" />
      <wsdl:output wsaw:Action="http://OpenBookAPI/IOpenBookAPIService/MarkDocumentAsReadResponse" message="tns:IOpenBookAPIService_MarkDocumentAsRead_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="OpenBookAPIService">
    <wsdl:port name="BasicHttpBinding_IOpenBookAPIService" binding="i0:BasicHttpBinding_IOpenBookAPIService">
      <soap:address location="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>