SyntacticSimplifier/openbook-syntax/openbook-syntax-service/src/main/resources/OSGI-INF/openbook-syntaxWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SyntaxOBServiceImplService" targetNamespace="http://first-asd.eu/service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://first-asd.eu/service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://first-asd.eu/service/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://first-asd.eu/service/">
<xs:element name="simplifySyntax" type="tns:simplifySyntax"/>
<xs:element name="simplifySyntaxResponse" type="tns:simplifySyntaxResponse"/>
<xs:complexType name="simplifySyntax">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="simplifySyntaxResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="FormatException" type="tns:FormatException"/>
<xs:complexType name="FormatException">
<xs:sequence/>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="FormatException">
    <wsdl:part name="FormatException" element="tns:FormatException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="simplifySyntaxResponse">
    <wsdl:part name="parameters" element="tns:simplifySyntaxResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="simplifySyntax">
    <wsdl:part name="parameters" element="tns:simplifySyntax">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SyntaxOBService">
    <wsdl:operation name="simplifySyntax">
      <wsdl:input name="simplifySyntax" message="tns:simplifySyntax">
    </wsdl:input>
      <wsdl:output name="simplifySyntaxResponse" message="tns:simplifySyntaxResponse">
    </wsdl:output>
      <wsdl:fault name="FormatException" message="tns:FormatException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyntaxOBServiceImplServiceSoapBinding" type="tns:SyntaxOBService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="simplifySyntax">
      <soap:operation soapAction="urn:SimplifySyntax" style="document"/>
      <wsdl:input name="simplifySyntax">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="simplifySyntaxResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FormatException">
        <soap:fault name="FormatException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyntaxOBServiceImplService">
    <wsdl:port name="SyntaxOBServiceImplPort" binding="tns:SyntaxOBServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/SyntaxOBServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
